#header {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  padding: 10px;
}
#header h1 {
  text-align: center;
}
.logout-button {
  border: none;
  color: white;
  background: #f55157;
}
